.tooltip {
    position: absolute;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    opacity: 0;
    pointer-events: none;
}

.ui-slider .ui-slider-range {
    background: #198754;
}
.slider .ui-slider-handle {
    background-color: #fff;
    border: 1px solid #ccc;
}

.slider .ui-slider-handle:hover, .slider .ui-slider-handle:active {
    background-color: #198754;
    border-color: #198754;
}

.slider.ui-slider-horizontal {
    background: #f9fff9;
    top: -0.15em;
}

.movie img {
    width: 115px;
    height: auto;
}
.movie h2 {
    font-size: 16px;
    font-weight: bold;
}

.ui-slider-handle {
    transition: width 200ms ease;
    color: #fff;
}

.ui-slider-handle:active{
    border: none;
    border-radius: 10%;
    color: #fff;
    font-size: 12px;
    height: 17px;
    line-height: 20px;
    text-align: center;
    width: 25px;
}

.floating-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 15px;
    color: #FFF;
    cursor: help !important;
    font-size: 14px;
    font-weight: bold;
}

.ui-dialog-titlebar-close:before {
    content: 'X';
    font-weight: bold;
    font-size: 16px;
    position: relative;
    top: -5px;
}

svg {
    max-height: 35em;
}

body {
    overflow: hidden;
}