<div class="row">
  <div class="col-sm-6">
    <div class="row">
      <div class="form-group pe-0">
        <label for="romance-slider" class="text-nowrap fw-bold">Romance</label>
        <div id="romance-slider" class="slider my-2">8</div>
      </div>
      <div class="form-group pe-0">
        <label for="scifi-slider" class="text-nowrap fw-bold">Sci-Fi</label>
        <div id="scifi-slider" class="slider my-2">28</div>
      </div>
      <div class="form-group pe-0">
        <label for="adventure-slider" class="text-nowrap fw-bold"
          >Adventure</label
        >
        <div id="adventure-slider" class="slider my-2">38</div>
      </div>
      <div class="form-group pe-0">
        <label for="comedy-slider" class="text-nowrap fw-bold">Comedy</label>
        <div id="comedy-slider" class="slider my-2">78</div>
      </div>
      <div class="form-group pe-0">
        <label for="animation-slider" class="text-nowrap fw-bold"
          >Animation</label
        >
        <div id="animation-slider" class="slider my-2">88</div>
      </div>
      <div class="form-group pe-0">
        <label for="drama-slider" class="text-nowrap fw-bold">Drama</label>
        <div id="drama-slider" class="slider my-2">100</div>
      </div>
      <div class="form-group pe-0">
        <label for="thriller-slider" class="text-nowrap fw-bold"
          >Thriller</label
        >
        <div id="thriller-slider" class="slider my-2">88</div>
      </div>
      <div class="form-group pe-0">
        <label for="war-slider" class="text-nowrap fw-bold">War</label>
        <div id="war-slider" class="slider my-2">68</div>
      </div>
      <div class="form-group pe-0">
        <label for="children-slider" class="text-nowrap fw-bold"
          >Children</label
        >
        <div id="children-slider" class="slider my-2">28</div>
      </div>
      <div class="form-group pe-0">
        <label for="crime-slider" class="text-nowrap fw-bold">Crime</label>
        <div id="crime-slider" class="slider my-2">18</div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row">
      <div class="form-group pe-0">
        <label for="horror-slider" class="text-nowrap fw-bold">Horror</label>
        <div id="horror-slider" class="slider my-2">8</div>
      </div>
      <div class="form-group pe-0">
        <label for="filmnoir-slider" class="text-nowrap fw-bold"
          >Film-Noir</label
        >
        <div id="filmnoir-slider" class="slider my-2">0</div>
      </div>
      <div class="form-group pe-0">
        <label for="mystery-slider" class="text-nowrap fw-bold">Mystery</label>
        <div id="mystery-slider" class="slider my-2">25</div>
      </div>
      <div class="form-group pe-0">
        <label for="action-slider" class="text-nowrap fw-bold">Action</label>
        <div id="action-slider" class="slider my-2">50</div>
      </div>
      <div class="form-group pe-0">
        <label for="musical-slider" class="text-nowrap fw-bold">Musical</label>
        <div id="musical-slider" class="slider my-2">75</div>
      </div>
      <div class="form-group pe-0">
        <label for="western-slider" class="text-nowrap fw-bold">Western</label>
        <div id="western-slider" class="slider my-2">88</div>
      </div>
      <div class="form-group pe-0">
        <label for="imax-slider" class="text-nowrap fw-bold">IMAX</label>
        <div id="imax-slider" class="slider my-2">75</div>
      </div>
      <div class="form-group pe-0">
        <label for="documentary-slider" class="text-nowrap fw-bold"
          >Documentary</label
        >
        <div id="documentary-slider" class="slider my-2">40</div>
      </div>
      <div class="form-group pe-0">
        <label for="fantasy-slider" class="text-nowrap fw-bold">Fantasy</label>
        <div id="fantasy-slider" class="slider my-2">30</div>
      </div>
      <div class="text-center text-nowrap mt-2">
        <button
          type="submit"
          class="btn btn-success ms-0 me-4"
          id="update-button"
        >
          Update
        </button>
        <button type="submit" class="btn btn-success" id="reset-button">
          Reset
        </button>
      </div>
    </div>
  </div>
</div>
