{% extends "base.html" %}
{% load static %}

{% block title %}INFSCI2470 - Fair Recommender System{% endblock %}

{% block load_css %}
    <link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock %}

{% block load_js %}
    <script src="{% static "js/index.js" %}"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
{% endblock %}

{% block content %}
    <img src="{% static 'img/no-image-png-2.png' %}" id="placeholderImage" class="d-none">
    <img src="{% static 'img/user-profile-picture01.png' %}" id="avatarImage" class="d-none">
    {% csrf_token %}
    <!-- Page content-->   
    <div class="container-fluid p-2">
        <div class="row pt-2">
            <div class="col-sm-7 gx-0">
                <div class="row py-2">
                    <div class="col-sm-12">
                        <div class="card" style="height: 39em;">
                            <div class="card-header h-100">
                                <div class="row"> 
                                    <div id="cluster-column" class="col-sm-10">
                                        <p class="form-label fw-bold fs-5">User Cluster View</p>
                                        <div id="chart"></div>
                                    </div>
                                    <div class="col-sm-2 px-0">
                                        {% include 'cluster_filters.html' %}
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="row pb-2">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header h-100">
                                <div class="row">
                                    <div class="col-sm-12">
                                        {% include 'user_id_card.html' %}
                                    </div>
                                </div>
                                <div id="movie-row" class="row d-none">
                                    <div class="col-sm-12">
                                        {% include 'genre_sliders.html' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>    
        </div>
    </div>     
{% endblock %}